<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" size="full" routerLink="/userpage/billpay">
        <ion-icon slot="icon-only" name="arrow-back"  ></ion-icon>
      
      </ion-button>
      <ion-title color="dark"> BROADBHAND BILL</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-card class="flex-center">
    <ion-card-content>

    
  <ion-item>
    <ion-label>Service Provider</ion-label>
    <ion-select  cancelText="cancel" okText="Okay!">
      <ion-select-option value="bacon">Select Service Provider </ion-select-option>
      <ion-select-option value="olives">Local Service Provider</ion-select-option>
    
      
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>State</ion-label>
    <ion-select  cancelText="cancel" okText="Okay!">
      <ion-select-option value="bacon">Puducherry</ion-select-option>
      <ion-select-option value="olives">Andhra Pardesh</ion-select-option>
      <ion-select-option value="xcheese">Tamil Nadu</ion-select-option>
    
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Select District</ion-label>
    <ion-select  cancelText="cancel" okText="Okay!">
      <ion-select-option value="bacon">Cuddalure</ion-select-option>
      <ion-select-option value="olives">Trichy</ion-select-option>
      <ion-select-option value="xcheese">Madurai</ion-select-option>
      <ion-select-option value="peppers">salem</ion-select-option>
      
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Local service Provider</ion-label>
    <ion-select cancelText="cancel" okText="Okay!">
      <ion-select-option value="bacon">Select Provider</ion-select-option>
    
      
    </ion-select>
  </ion-item>
  <ion-button color="secondary" size="full">pay</ion-button>
</ion-card-content>
</ion-card>
 
</ion-content>