<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" size="full" routerLink="/userpage" >
        <ion-icon slot="icon-only" name="arrow-back"  ></ion-icon>
      
      </ion-button>
      <ion-title color="dark">BILL PAY </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card >
   
    <ion-card-content>
      <div>
      <ion-title  color="dark" >PAY BILLS</ion-title>
    </div>
      
      <ion-row class="flex-center" >
       <ion-col >
         <img src="./assets/wa.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/water">
          WATER
       </ion-col>
       <ion-col>
         <img src="./assets/eb.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/electricity">
         ELECTRICITY
       </ion-col>
       <ion-col >
         <img src="./assets/mobile.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/mobile">
         MOBILE
        </ion-col>
       </ion-row>
         
         <ion-row class="flex-center" >
    
       <ion-col >
        <img src="./assets/gas.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/gas">
         GAS  
      </ion-col>
       <ion-col>
         <img src="./assets/dth.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/dth">
         DTH
       </ion-col>
       <ion-col >
         <img src="./assets/broadband.png" style="width:100% ; height:100%" routerLink="/userpage/billpay/broadband">
         BROADBAND 
       </ion-col>
     </ion-row>
     
   </ion-card-content>
  </ion-card>
</ion-content>



