<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" size="full" routerLink="/login" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      
      </ion-button>
      <ion-title color="dark"> FORGET PASSWORD </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
    <ion-card class="flex-center">
      <ion-card-content>
        <form [formGroup]="form">
        <h3>FORGET PASSWORD</h3>
        <ion-item >
          <ion-label  position="floating"color="dark" >EMAIL*</ion-label>
          <ion-input type="email" formControlName="email" ></ion-input>
          <app-error-message  [field]="form.get('email')" error="required" message="Email is mandatory"></app-error-message>
       <app-error-message [field]="form.get('email')" error="email" message="Email is invalid"></app-error-message>
       </ion-item>
       <p class="footer-text" > <a   routerLink="/login" (click)="login()">Login</a></p>
       <ion-button color="secondary" size="full"  shape="round" >Next</ion-button>
      </form>
      
      </ion-card-content>
    </ion-card>
  
</ion-content>