<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" size="full"  routerLink="/userpage/billpay">
        <ion-icon slot="icon-only" name="arrow-back"  ></ion-icon>
      
      </ion-button>
      <ion-title color="dark">DTH BILL</ion-title> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-card class="flex-center">
    <ion-card-content>
      
  <ion-item>
    <ion-label> Service Provider </ion-label>
    <ion-select  cancelText="cancel" okText="Okay">
      <ion-select-option value="bacon">Airtel</ion-select-option>
      <ion-select-option value="olives">Local Service Provider</ion-select-option>
      
    </ion-select>
  </ion-item>
  
  
 

<ion-item>
  

  <ion-label position="floating">Subscribe ID (Example : 7 digit number)</ion-label>
        <ion-input type="tel" ></ion-input>
 
</ion-item>
<ion-item>
  <ion-label position="floating">Amount</ion-label>
        <ion-input type="tel"></ion-input>
  
</ion-item>

<ion-button color="secondary" size="full">pay</ion-button>
</ion-card-content>
</ion-card>

 
</ion-content>