<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" size="full" routerLink="/userpage" >
        <ion-icon  name="arrow-back" ></ion-icon>
      
      </ion-button>
      <ion-title color="dark"> MAKE PAYMENT </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card >
  <ion-card-content>
    <ion-title class="flex-center">Payer Bank Account</ion-title>
    
      <ion-button  shape="round" size="full" routerLink="/userpage/makepayment/addaccount">
        ADD ACCOUNT 
      </ion-button>
    
  </ion-card-content>
</ion-card>
</ion-content>

